header {
  display: flex;
  padding-left: 1rem;
}

body {
  background-color: red;
  min-height: calc(100vh - 5.5rem);
}

footer {
  width: 100%;
  height: 2rem;
  display: flex;
  background-color: gray;
}
