.article-card {
  height: 10rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  border-bottom: 1px #c4c7cf26 solid;
}

.data {
  display: flex;
}

.image {
  img {
    height: 100%;
    border-radius: 1rem;
  }
}

.data > * {
  padding: 1rem;
}
