<div class="article-card">
  <div class="information">
    <h2>{{article?.name}}</h2>
    <div class="data">
      <div class="date">
        {{article?.date | date: 'dd/MM/yyyy'}}
      </div>
      <div class="classification">
        {{article?.classification}}
      </div>
      <div class="more">
        More...
      </div>
     </div>
  </div>
  <div class="image">
    <img src="https://cdn.britannica.com/78/103778-050-D797CF4F/Animals-groups-organisms-succession-general-particular.jpg" al="">
  </div>
  <hr>
</div>
